* {
    box-sizing: border-box;
}

:root {
    --fullHeightScreen: calc(100vh - 30px);

    @media screen and (max-width: 1024px) {
        --fullHeightScreen: calc(100vh - 100px);
    }
}

.full-screen-center {
    display: flex;
    height: var(--fullHeightScreen);
    justify-content: center;
    align-items: center;
}

body {
    margin: 0;
}

img {
    max-width: 100%;
    border-radius: 8px;
}

.switch {
    margin: 18px 0px;
    display: flex;
    overflow: auto;

    &::-webkit-scrollbar {
        display: none;
    }

    button {
        border: unset;
        margin-right: 8px;
        padding: 8px 15px;
        border-radius: 50px;
        background-color: rgb(238, 238, 238);

        cursor: pointer;
        border: 1px solid #fff;
        word-break: keep-all;

        &.activit {
            border: 1px solid rgb(126, 126, 126);
        }

        &:disabled,
        &[disabled] {
            background-color: #000;
        }
    }
}

button {

    &:disabled,
    &[disabled] {
        background-color: rgb(183, 183, 183) !important;
        color: rgb(108, 108, 108) !important;
        cursor: unset !important;

        svg {
            fill: rgb(108, 108, 108) !important;
        }
    }
}

.page-title {
    margin-top: 0;
}